name: golang

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
  push:
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'

permissions:
  id-token: write
  contents: read

jobs:
  linter:
    runs-on: 'ubuntu-latest'

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: --timeout=5m

  tests:
    runs-on: 'ubuntu-latest'

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Verify formatting (go fmt)
        run: |
          files=$(gofmt -l .)
          if [ -n "$files" ]; then
            echo "gofmt required on the following files:"
            echo "$files"
            exit 1
          fi

      - name: Verify modules
        run: |
          go mod tidy
          git diff --exit-code

      - name: Test
        run: go test -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Test Race
        run: go test -race ./...

      - name: Publish coverage
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./coverage.txt
